<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <h1>Shopping Cart</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% cart.forEach((item, index) => { %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= item.name %></td>
              <td>$<%= item.price %></td>
              <td>
                <form class="form-inline" action="/cart" method="POST">
                  <input type="hidden" name="action" value="update">
                  <input type="hidden" name="productId" value="<%= item.id %>">
                  <div class="input-group">
                    <input type="number" class="form-control" name="quantity" value="<%= item.quantity %>" min="1">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-outline-secondary">Update</button>
                    </div>
                  </div>
                </form>
              </td>
              <td>$<%= item.total %></td>
              <td>
                <form class="form-inline" action="/cart" method="POST">
                  <input type="hidden" name="action" value="remove">
                  <input type="hidden" name="productId" value="<%= item.id %>">
                  <button type="submit" class="btn btn-outline-danger">Remove</button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3"></td>
            <th>Subtotal:</th>
            <td>$<%= subtotal %></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3"></td>
            <th>Tax:</th>
            <td>$<%= tax %></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3"></td>
            <th>Total:</th>
            <td>$<%= total %></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
      <% if (cart.length === 0) { %>
        <p>Your cart is empty.</p>
      <% } else { %>
        <div class="text-right">
          <a href="/checkout" class="btn btn-primary">Checkout</a>
        </div>
      <% } %>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap
